<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>

    <title>Navigation Menu Example</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="framework/normalize.css" type="text/css">
    <link rel="stylesheet" href="framework/grid.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">

  </head>

<!-- ng-app tells Angular that the code needs to be evaluated -->
  <body ng-app>
    <!-- Adding {{active}} will tell Angular to apply the active class to the navigation menu -->
    <div class="container">
      <div class="row">
          <div class="col-8">
            <h1>Your Logo</h1>
          </div>
          <div class="col-4">
            <nav class="{{active}}">
              <a href="#" class="home" ng-click="active='home'">Home</a>
              <a href="#" class="work" ng-click="active='work'">Work</a>
              <a href="#" class="about" ng-click="active='about'">About</a>
              <a href="#" class="contact" ng-click="active='contact'">Contact</a>
            </nav>
        </div>
      </div>
  </div>
    <div class="container">
      <div class="row">
        <h2 ng-show="active">{{active}}</h2>
      </div>
      <div class="row">
        <p ng-hide="active">Welcome to our website. Learn more about us by clicking on the navigation links.</p>
        <p ng-show="active">You have selected {{active}}.</p>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  </body>


</html>
