body {
  color: white;
  font-family: Montserrat;
}
nav {
  background-color: #81CFE0;
  text-align: center;
  width: 420px;
  margin: 15px auto;
  text-transform: uppercase;
  -webkit-box-shadow: 3px 3px 1px #888;
  box-shadow: 3px 3px 1px #888;
}
nav.home .home,
nav.work .work,
nav.about .about,
nav.contact .contact {
  background-color: #F4B350;
}
nav a {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}
nav a:first-child {
  padding: 15px 20px 15px 20px;
}
nav a:hover {

}
